@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: 248 248 247;
  --foreground: 3 3 3;
  --card: 255 255 255;
  --card-foreground: 5 7 4;
  --popover: 245 247 243;
  --popover-foreground: 5 7 4;
  --primary: 122 166 89;
  --primary-foreground: 7 10 5;
  --secondary: 164 113 73;
  --secondary-foreground: 224 202 184;
  --muted: 212 212 197;
  --muted-foreground: 88 88 65;
  --accent: 55 82 109;
  --accent-foreground: 187 204 221;
  --destructive: 255 56 43;
  --destructive-foreground: 255 255 255;
  --border: 238 239 236;
  --input: 214 219 211;
  --ring: 238 239 236;

  --android-background: 252 253 252;
  --android-foreground: 10 10 10;
  --android-card: 255 255 255;
  --android-card-foreground: 5 7 4;
  --android-popover: 245 247 243;
  --android-popover-foreground: 5 7 4;
  --android-primary: 122 166 89;
  --android-primary-foreground: 7 10 5;
  --android-secondary: 164 113 73;
  --android-secondary-foreground: 224 202 184;
  --android-muted: 212 212 197;
  --android-muted-foreground: 88 88 65;
  --android-accent: 55 82 109;
  --android-accent-foreground: 187 204 221;
  --android-destructive: 186 26 26;
  --android-destructive-foreground: 255 255 255;
  --android-border: 183 184 182;
  --android-input: 197 199 196;
  --android-ring: 183 184 182;

  --web-background: 252 253 251;
  --web-foreground: 12 12 12;
  --web-card: 255 255 255;
  --web-card-foreground: 4 7 4;
  --web-popover: 244 247 244;
  --web-popover-foreground: 4 7 4;
  --web-primary: 122 166 89;
  --web-primary-foreground: 11 15 8;
  --web-secondary: 164 113 73;
  --web-secondary-foreground: 248 243 239;
  --web-muted: 223 225 221;
  --web-muted-foreground: 101 108 96;
  --web-accent: 52 82 112;
  --web-accent-foreground: 240 244 247;
  --web-destructive: 186 26 26;
  --web-destructive-foreground: 255 255 255;
  --web-border: 238 238 237;
  --web-input: 245 246 245;
  --web-ring: 227 229 226;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 1 2 1;
    --foreground: 252 253 251;
    --card: 31 35 27;
    --card-foreground: 252 253 251;
    --popover: 44 46 42;
    --popover-foreground: 252 253 251;
    --primary: 122 166 89;
    --primary-foreground: 0 0 0;
    --secondary: 159 111 73;
    --secondary-foreground: 223 202 185;
    --muted: 212 212 197;
    --muted-foreground: 88 88 65;
    --accent: 104 139 174;
    --accent-foreground: 36 51 66;
    --destructive: 254 67 54;
    --destructive-foreground: 255 255 255;
    --border: 64 67 62;
    --input: 77 80 74;
    --ring: 64 67 62;

    --android-background: 24 25 23;
    --android-foreground: 230 232 229;
    --android-card: 71 72 70;
    --android-card-foreground: 198 200 197;
    --android-popover: 71 72 70;
    --android-popover-foreground: 198 200 197;
    --android-primary: 122 166 89;
    --android-primary-foreground: 0 0 0;
    --android-secondary: 159 111 73;
    --android-secondary-foreground: 223 202 185;
    --android-muted: 212 212 197;
    --android-muted-foreground: 88 88 65;
    --android-accent: 104 139 174;
    --android-accent-foreground: 36 51 66;
    --android-destructive: 147 0 10;
    --android-destructive-foreground: 255 255 255;
    --android-border: 145 147 143;
    --android-input: 71 72 70;
    --android-ring: 145 147 143;

    --web-background: 22 23 21;
    --web-foreground: 227 229 226;
    --web-card: 28 35 28;
    --web-card-foreground: 251 253 251;
    --web-popover: 43 46 43;
    --web-popover-foreground: 251 253 251;
    --web-primary: 118 157 89;
    --web-primary-foreground: 11 15 8;
    --web-secondary: 157 110 73;
    --web-secondary-foreground: 248 243 239;
    --web-muted: 34 35 33;
    --web-muted-foreground: 212 214 210;
    --web-accent: 101 137 173;
    --web-accent-foreground: 8 11 15;
    --web-destructive: 147 0 10;
    --web-destructive-foreground: 255 255 255;
    --web-border: 59 61 58;
    --web-input: 49 51 47;
    --web-ring: 74 78 71;
  }
}
}